.card-image {
    width: 100% !important;
    height: 170px !important;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 10px !important;
}


h5 {
    font-size: 1.2rem !important;
}

@media screen and (max-width: 768px) {

    .h5 {
        font-size: 0.8rem;
        /* Adjust font size */
    }

    .card-image {
        height: 120px;
        /* Adjust card image height */
    }
}

@media screen and (max-width: 480px) {

    h5 {
        font-size: 10px !important;

    }

    .roww {
        margin: 0 !important;
    }

    .card-image {
        height: 100px !important;
        /* Further adjust card image height */
        padding: 0 !important;
        margin: 0 !important;
    }

    .abt-text {
        font-size: 20px !important;
        padding-bottom: 15px !important;
    }
}